@font-face {
   font-family: 'InterExtraLight';
   src: url("../../public//fonts/Inter-ExtraLight.ttf") ;
   font-style: normal;
   font-display: swap;
 }
 @font-face {
   font-family: 'InterLight';
   src: url("../../public//fonts/Inter-Light.ttf") ;
   font-style:normal;
   font-display: swap;
 }
 @font-face {
   font-family: 'InterMedium';
   src: url("../../public//fonts/Inter-Medium.ttf") ;
   font-style: normal;
   font-display: swap;
 }
 @font-face {
   font-family: 'InterRegular';
   src: url("../../public/fonts/Inter-Regular.ttf") ;
   font-style: normal;
   font-display: swap;
 }
 @font-face {
   font-family: 'InterBold';
   src: url("../../public/fonts/Inter-Bold.ttf") ;
   font-style: normal;
   font-display: swap;
 }

/* CALENDAR COMPONENT STYLE */
.rbc-date-cell{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.rbc-toolbar{
  display: flex;
  justify-content: space-between!important; 
 
}
.rbc-header span{
  font-family: 'InterLight';

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}